deb {{ midonet_base_url }}/{{ midonet_version }} {{ midonet_release | default('stable') }} main
deb {{ midonet_base_url }}/openstack-{{openstack_version}} {{ plugin_release | default('stable') }} main
deb {{ midonet_base_url }}/misc stable main
